@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&family=Staatliches&family=Wellfleet&display=swap');

:root {
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-1: 'Sono', sans-serif;
    --cor0: #8F68F8;
    --cor1: #5B5BD9;
    --cor2: #7193F0;
    --cor3: #5B9ED9;    
}

* {
    padding: 0;
    margin: 0;
}

/*Cabeçalho do site - Menu*/
header {
    
    text-align: center;   
    height: 180px;
    background-color: var(--cor3);
    display: flex;    
    width: 100%;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
}
#logo {
    margin: auto;
}
.logo {
    width: 600px;
}
.menu {
    margin: auto;
    text-align: center;
}
.menu > a {
    font-size: 1.2em;
    margin: 15px;
    padding: 7px;
    text-decoration: none;
    font-family: var(--font_itens);
    color: white;
    background-color: var(--cor_laranja_media);
    border: 1.2px solid white;
    border-radius: 15px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.363);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
    transition-duration: 0.5s;
}
.menu a:hover {
    color: black;
    background-color: yellow;
} /*FIM Cabeçalho do site - Menu*/

/*Início conteúdo do site*/
body {
    
    
}
main {
    width: 900px;
    margin: auto;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.300);
    background-color: white;
}
.flex-container{
    display: flex;
    max-width: 992px;    
    min-width: 320px;
    padding: 10px 15px;
    align-items: center;
    text-align: center;
    margin: auto;
  }
.descricao-item {
    font-size: 1.5em;
}
.item {
    width: 200px;
    margin-left: 20px;
  }
p {
    font-size: 1.5em;
    color: black;
}
main img {
    border-radius: 30%;    
}
main h1 {
    color: var(--cor1);
    font-family: var(--fonte-1);
    font-size: 3em;    
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    border-radius: 10px;
    margin-top: 20px;
}
main h2 {
    font-size: 2em;
    color: var(--cor2);    
}
main hr {
    margin: 30px;
    color: var(--cor0);    
}
ul li {    
    text-align: center;    
    font-size: 2em;    
    list-style-type: disc;
    font-weight: bold;
    list-style-position: inside;
    color: var(--cor2);    
    font-family: var(--fonte-1);
}
#localizacao {
    text-align: center;
}
footer {    
    margin-top: 15px;
    color: black;
    text-align: center;
}