@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&family=Staatliches&family=Wellfleet&display=swap');

:root {
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-1: 'Sono', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #01244b;
}

/*Cabeçalho do site - Menu*/
header {
    text-align: center;   
    height: 180px;
    background-color: rgba(255, 0, 0, 0.450);
    display: flex;    
}
#logo {
    margin: auto;
}
.logo {
    width: 600px;
}
.menu {
    margin: auto;
    text-align: center;
}
.menu > a {
    font-size: 2em;
    margin: 15px;
    padding: 7px;
    text-decoration: none;
    font-family: var(--font_itens);
    color: white;
    background-color: var(--cor_laranja_media);
    border: 1.2px solid white;
    border-radius: 15px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.363);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
    transition-duration: 0.5s;
}
.menu a:hover {
    color: black;
    background-color: yellow;
} /*FIM Cabeçalho do site - Menu*/

.endereco{
    color: black;
    text-align: center;
    background-color: yellow;
    font-family: var(--fonte-destaque);
}

/*Início conteúdo do site*/
main {
    /*
    width: 800px;
    margin: auto;
    background-color: aqua;
    */
    /*background-image: url(../imagens/pneu.jpg);
    background-repeat: no-repeat;
    */
}
section {
    text-align: center;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
    
  }
.item {
    width: 100px;
    margin-left: 20px;
  }
p {
    font-size: 1.5em;
}
h1 {
    color: yellow;
    border-radius: 10px;
    font-family: var(--fonte-1);
    font-size: 3em;
    border: 2px solid yellow;
}
ul li {
    margin-top: 10px;
    text-align: center;    
    font-size: 3em;    
    list-style-type: none;
    border: 2px solid yellow;
    color: yellow;
    border-radius: 10px;
    font-family: var(--fonte-1);
}
footer {
    margin-top: 15px;
    color: black;
    text-align: center;
}