
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Contrail+One&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

:root {
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-conteudo: 'Contrail One', cursive;
    --fonte-1: 'Vast Shadow', cursive;
    --cor0: #8F68F8;
    --cor1: #5B5BD9;
    --cor2: #7193F0;
    --cor3: #5B9ED9;    
}

* {
    padding: 0;
    margin: 0;
}

/*Cabeçalho do site - Menu*/
header {    
    text-align: center;   
    height: 180px;    
    display: flex;    
    width: 100%;
    margin-bottom: 10px;
    background-image: url(../imagens/fundo-capa.PNG);
    background-color: black;
    border-radius: 0px 0px 15px 15px ;
}
#logo {
    margin: auto;
}
.logo {
    width: 600px;
}
.menu {
    margin: auto;
    text-align: center;
}
.menu > a {
    font-size: 1.2em;
    margin: 15px;
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--fonte-destaque);
    color: white;
    background-color: var(--cor1);
    border: 1.2px solid white;
    border-radius: 15px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.363);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
    transition-duration: 0.5s;
}
.menu a:hover {
    color: black;
    background-color: yellow;
} /*FIM Cabeçalho do site - Menu*/

/*Início conteúdo do site*/
body {
    background-image: url(../imagens/fundo.png);
}
main {
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.300);
    background-color: white;
    border-radius: 10px;    
}
.flex-container{
    display: flex;
    max-width: 992px;    
    min-width: 320px;
    padding: 10px 15px;
    align-items: center;
    margin: auto;
  }
  .icones {
    display: flex;
    justify-content: space-between;
  }
  .icones img {
    width: 100px;
  }
  .icones h2 {
    margin: auto;
  }
.descricao-item {
    font-size: 1.5em;
    font-family: var(--fonte-conteudo);
}
.item {
    width: 200px;
    margin-left: 20px;
  }
p {
    font-size: 1.5em;
    color: black;
}
main img {    
    margin: auto;
    width: 100%;
}
main h1 {
    color: var(--cor1);
    font-family: var(--fonte-1);
    font-size: 3em;    
    text-align: center;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    border-radius: 10px;
    margin: 10px 0px;
}
main h2 {
    font-size: 2em;    
    color: var(--cor2);
    font-family: var(--fonte-conteudo);    
}
main hr {
    margin: 20px;
    color: var(--cor0);    
}
#localizacao {
    text-align: center;
    margin-bottom: 20px;
}
#contato {
    text-align: center;
    padding: 10px;
}
picture a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--fonte-conteudo);    
}
footer {
    margin: 10px 10px;
}
.contato {
    width: 50px;
}
footer p {
    color: var(--cor0);
    font-weight: bold;
    text-align: center;    
}
footer p a {
    text-decoration: none;    
}

@media screen and (max-width: 600px) {
    #cabecalho {
        width: 100%;
    }
    .logo {
        width: 400px;
    }
    #cabecalho {
        display: flex;
        flex-direction: column;
    }
    .menu a {
        font-size: 1em;
        margin: 8px;
        
    }
    .menu {
        
        width: 100%;
    }
    .icones h2 {
        font-size: 1.5em;
      }
    .icones {
        margin: auto;
    }
    #produtos .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    #produtos .flex-container img.item{
        
        
        
    }

}